@media (min-width: 396px) {
  :root {
    --primary: #00aeae;
    --secondary: #fff;
    --font: #1e232a;
    --bg: #ddd;
    --active: #00adb5;
    --white: #fff;
    --theme: #303030;
    --search: rgba(104, 109, 118, 0.8);
    --footer: #373a40;
  }

  [data-theme="dark"] {
    --primary: #222831;
    --secondary: #00adb5;
    --font: #1e232a;
    --bg: #393e46;
    --active: #fff;
    --white: #fff;
    --theme: #ffd700;
    --search: rgba(89, 94, 102, 0.8);
    --footer: #373a40;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: var(--bg);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /* Navbar CSS */
  .NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 3em;
    background-color: var(--primary);
  }

  .Logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secondary);
    padding: 0 1em;
  }

  .Logo a i {
    font-size: 2.5em;
  }

  .Logo a h4 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .openbtn {
    display: none;
  }

  .closebtn {
    display: none;
  }

  .Nav {
    margin-top: 0;
  }

  .Nav ul {
    list-style: none;
  }

  .Nav ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .Nav ul li a {
    text-decoration: none;
    padding: 7px 25px;
    margin: 0 10px;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0.5px;
    border-radius: 50px;
    border: 1.5px solid var(--secondary);
    transition: 0.3s ease-in-out;
  }

  .Nav ul li a.active {
    border-radius: 0px 55px 10px 35px;
    background-color: var(--secondary);
    color: var(--active);
  }
  .Nav ul li a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: var(--secondary);
    color: var(--primary);
  }

  .toggleHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    padding-left: 1.5em;
    /* width: 100%; */
    position: relative;
  }

  #toggle {
    cursor: pointer;
    color: var(--theme);
    position: absolute;
  }

  /* Search Bar CSS */
  .SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    padding: 1.5em 0;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: var(--search);
    margin-bottom: 1em;
  }

  .SearchHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SearchHolder input {
    width: 50%;
    max-width: 500px;
    padding: 0.5em 2em;
    border: none;
    border-radius: 50px;
    background-color: var(--white);
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--font);
    text-align: center;
    outline: none;
    transition: 0.3s ease-in-out;
    margin: 0 1em;
  }

  .SIcon {
    padding: 0.5em 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SearchBtn i {
    font-size: 1.5em;
    margin-top: 1px;
    color: #fff;
  }

  .FilterBtn {
    cursor: pointer;
  }

  .FilterBtn i {
    font-size: 1.2em;
    margin-top: 1px;
    color: #fff;
  }

  /* Image Filters */
  .ImageControl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1em;
  }

  .Filter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
  }

  .Dropdown {
    width: 200px;
    color: #fff !important;
  }

  .Filter-select {
    width: 100%;
    padding: 0.5em 2em;
    outline: none;
  }

  .MenuItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .MenuItem p {
    width: 6em;
  }

  .MuiSelect-select {
    color: #fff !important;
  }

  /* Dashboad Images CSS */
  .DashImages {
    padding: 0 1em;
    column-width: calc(250px + 10vw);
  }

  .SearchImages {
    padding: 0 1em;
    column-width: calc(250px + 10vw);
  }

  .Image {
    padding-top: 0.5em;
    cursor: pointer;
  }

  .Image img {
    width: 100%;
    border-radius: 0.5em;
  }

  .SkeletonImages {
    padding: 0 1em;
    /* column-width: calc(200px + 10vw); */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1em;
  }

  .Skeleton {
    /* padding-top: 0.5em; */
    cursor: pointer;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    padding: 2em;
    margin-top: 2em;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    color: #ddd;
  }

  .social {
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .social a {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    transition: 0.5s ease-in-out;
  }

  .social a:hover {
    transform: rotate(360deg);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
  }

  #f i {
    color: #186dc2;
    padding: 3px 1.5px 0px 1.5px;
  }
  #i i {
    color: #e1306c;
    padding: 3px 4px 0.9px 3.5px;
  }
  #t i {
    color: #1da1f2;
    padding: 3px 1.5px 0px 1.5px;
  }
}
