@media (min-width: 396px) {
  :root {
    --primary: #00adb5;
    --secondary: #fff;
    --font: #1e232a;
    --bg: #ffffff;
    --active: #00adb5;
    --white: #fff;
    --theme: #303030;
  }

  [data-theme="dark"] {
    --primary: #222831;
    --secondary: #00adb5;
    --font: #1e232a;
    --bg: #393e46;
    --active: #fff;
    --white: #fff;
    --theme: #ffd700;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: var(--bg);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /* Navbar CSS */
  .NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 3em;
    background-color: var(--primary);
  }

  .Logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secondary);
    padding: 0 1em;
  }

  .Logo a i {
    font-size: 2.5em;
  }

  .Logo a h4 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .openbtn {
    display: none;
  }

  .closebtn {
    display: none;
  }

  .Nav {
    margin-top: 0;
  }

  .Nav ul {
    list-style: none;
  }

  .Nav ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .Nav ul li a {
    text-decoration: none;
    padding: 7px 25px;
    margin: 0 10px;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0.5px;
    border-radius: 50px;
    border: 1.5px solid var(--secondary);
    transition: 0.3s ease-in-out;
  }

  .Nav ul li a.active {
    border-radius: 0px 55px 10px 35px;
    background-color: var(--secondary);
    color: var(--active);
  }
  .Nav ul li a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: var(--secondary);
    color: var(--primary);
  }

  .toggleHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    padding-left: 1.5em;
    /* width: 100%; */
    position: relative;
  }

  #toggle {
    cursor: pointer;
    color: var(--theme);
    position: absolute;
  }

  /* Search Bar CSS */
  .SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    padding: 1.5em 0;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(57, 62, 70, 0.8);
    margin-bottom: 1em;
  }

  .SearchBar input {
    width: 50%;
    padding: 0.5em 2em;
    border: none;
    border-radius: 50px;
    background-color: var(--white);
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--font);
    text-align: center;
    outline: none;
    transition: 0.3s ease-in-out;
    margin-bottom: 1em;
  }

  /* Image Filters */
  .ImageControl {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Dropdown {
    width: 200px;
    color: #fff !important;
  }

  .Filter-select {
    padding: 0 !important;
    color: #fff !important;
  }

  /* Dashboad Images CSS */
  .DashImages {
    padding: 0 1em;
    column-width: calc(250px + 10vw);
  }

  .SearchImages {
    padding: 0 1em;
    column-width: calc(250px + 10vw);
  }

  .Image {
    padding-top: 0.5em;
    cursor: pointer;
  }

  .Image img {
    width: 100%;
    border-radius: 0.5em;
  }

  .SkeletonImages {
    padding: 0 1em;
    /* column-width: calc(200px + 10vw); */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1em;
  }

  .Skeleton {
    /* padding-top: 0.5em; */
    cursor: pointer;
  }
}
