@media (max-width: 395px) {
  :root {
    --primary: #00aeae;
    --secondary: #fff;
    --font: #1e232a;
    --bg: #ddd;
    --active: #00adb5;
    --white: #fff;
    --theme: #303030;
    --downld: #eee;
    --search: rgba(104, 109, 118, 0.8);
    --footer: #373a40;
    --navbg: #fff;
    --navcolor: #00adb5;
  }

  [data-theme="dark"] {
    --primary: #222831;
    --secondary: #00adb5;
    --font: #eee;
    --bg: #393e46;
    --active: #fff;
    --white: #fff;
    --theme: #ffd700;
    --downld: #222831;
    --search: rgba(89, 94, 102, 0.8);
    --footer: #373a40;
    --navbg: #393e46;
    --navcolor: #00adb5;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  html {
    overflow-x: hidden;
  }

  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    height: 100vh;
    background-color: var(--bg);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /* Navbar CSS */
  .NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    background-color: var(--primary);
  }

  .Logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secondary);
  }

  .Logo a i {
    font-size: 2em;
  }

  .Logo a h4 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .openbtn {
    outline-style: none;
    border: none;
    background: none;
    color: var(--white);
    font-size: 1em;
    cursor: pointer;
  }

  .closebtn {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: var(--active);
    text-decoration: none;
    cursor: pointer;
  }

  .sidebar {
    height: 100vh;
    width: 0%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: var(--navbg);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 60px;
    transition: 0.5s;
  }
  .sidebar ul li {
    padding-top: 80px;
  }

  .sidebar ul li a {
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: var(--navcolor);
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: var(--white);
    background-color: var(--navcolor);
  }

  .toggleHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    position: relative;
  }

  #toggle {
    cursor: pointer;
    color: var(--theme);
    position: absolute;
  }

  .InstallPWA {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navcolor);
    color: var(--white);
    margin: 0 2em;
    padding: 0.5em 1em;
    border-radius: 50px;
    margin-top: 3em;
  }

  .pwaButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insIco {
    padding-top: 0.1em;
    font-size: 20px;
  }

  .insTxt {
    margin-left: 0.6em;
    font-weight: 600;
    letter-spacing: 1.1px;
  }

  /* Search Bar CSS */
  .SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    padding: 1em 0;
    z-index: 1;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: var(--search);
    margin-bottom: 1em;
  }

  .SearchHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SearchHolder input {
    width: 60%;
    padding: 0.5em 2em;
    border: none;
    border-radius: 50px;
    background-color: var(--white);
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #1e232a;
    text-align: center;
    outline: none;
    transition: 0.3s ease-in-out;
    margin: 0 1em;
  }

  .SIcon {
    padding: 0.5em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SearchBtn i {
    font-size: 1.5em;
    margin-top: 1px;
    color: #fff;
  }

  .FilterBtn {
    cursor: pointer;
  }

  .FilterBtn i {
    font-size: 1.2em;
    margin-top: 1px;
    color: #fff;
  }

  /* Image Filters */
  .ImageControl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1.5em;
  }

  .Filter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
  }

  .Dropdown {
    width: 10em;
  }

  .Filter-select {
    width: 100%;
    padding: 0.5em 2em;
    outline: none;
  }

  .MenuItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .MenuItem p {
    width: 6em;
    text-align: center;
  }

  /* MUI component class names for Select tag*/
  .MuiOutlinedInput-notchedOutline {
    border: 1px solid #ddd !important;
  }

  .MuiInputLabel-root,
  .MuiSelect-select,
  .MuiSvgIcon-root {
    color: #fff !important;
  }

  /* DASHBOARD IMAGES CSS */
  .DashImages {
    padding: 0 1em;
    column-width: calc(100px + 10vw);
  }

  .ImgWrapper {
    margin-bottom: 0.5em;
    position: relative;
    width: 100%;
    height: fit-content;
    /* min-height: 280px; */
  }

  .Placeholder {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
  }

  /* SEARCH IMAGES CSS */
  .SearchImages {
    padding: 0 1em;
    column-width: calc(100px + 10vw);
  }

  .Image img {
    width: 100%;
    border-radius: 0.5em;
  }

  /* SELECTED IMAGE PREVIEW CSS Photo.js */
  .container {
    width: 100%;
    height: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
  }

  .Preview {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--downld);
    border-radius: 15px;
    padding: 2.5em 1.5em;
    width: 90vw;
    height: fit-content;
    box-shadow: 0.8px 0.8px 2.2px rgba(0, 0, 0, 0.02),
      2px 2px 5.3px rgba(0, 0, 0, 0.028), 3.8px 3.8px 10px rgba(0, 0, 0, 0.035),
      6.7px 6.7px 17.9px rgba(0, 0, 0, 0.042),
      12.5px 12.5px 33.4px rgba(0, 0, 0, 0.05),
      30px 30px 80px rgba(0, 0, 0, 0.07);
  }

  .ImgaePreview > img {
    width: 100%;
    height: 100%;
    border-radius: 0.5em !important;
  }

  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-left: 1px solid var(--font); */
    /* padding-left: 4em; */
    /* height: 90vh; */
    min-height: 20vh;
  }

  .download p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
    color: var(--font);
    border-bottom: 1px solid var(--font);
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90vh; */
    min-height: 10vh;
  }

  .loader i {
    padding-top: 3.8px;
    animation: loading 1s linear infinite;
    color: var(--font);
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .downloadLink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
  }

  .downloadLink button {
    border: none;
    outline: none;
    padding: 0.8em 1em;
    cursor: pointer;
    background-color: #00aeae;
    color: #fff;
    border-radius: 0.5em;
    width: 11em;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* SKELETON CSS */
  .SkeletonImages {
    padding: 0 1em;
    /* column-width: calc(200px + 10vw); */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    padding: 2em;
    margin-top: 2em;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    color: #ddd;
  }

  .social {
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .social a {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
  }

  #f i {
    color: #186dc2;
    padding: 3px 1.5px 0px 1.5px;
  }
  #i i {
    color: #e1306c;
    padding: 3px 4px 0.9px 3.5px;
  }
  #t i {
    color: #1da1f2;
    padding: 3px 1.5px 0px 1.5px;
  }
}
