@media (max-width: 395px) {
  :root {
    --primary: #00adb5;
    --secondary: #fff;
    --font: #1e232a;
    --bg: #ffffff;
    --active: #00adb5;
    --white: #fff;
    --theme: #303030;
    --navbg: #fff;
    --navcolor: #00adb5;
  }

  [data-theme="dark"] {
    --primary: #222831;
    --secondary: #00adb5;
    --font: #1e232a;
    --bg: #393e46;
    --active: #fff;
    --white: #fff;
    --theme: #ffd700;
    --navbg: #393e46;
    --navcolor: #00adb5;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  html {
    overflow-x: hidden;
  }

  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    height: 100vh;
    background-color: var(--bg);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /* Navbar CSS */
  .NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    background-color: var(--primary);
  }

  .Logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secondary);
  }

  .Logo a i {
    font-size: 2em;
  }

  .Logo a h4 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .openbtn {
    outline-style: none;
    border: none;
    background: none;
    color: var(--white);
    font-size: 1em;
    cursor: pointer;
  }

  .closebtn {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: var(--active);
    text-decoration: none;
    cursor: pointer;
  }

  .sidebar {
    height: 100vh;
    width: 0%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: var(--navbg);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 60px;
    transition: 0.5s;
  }
  .sidebar ul li {
    padding-top: 80px;
  }

  .sidebar ul li a {
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: var(--navcolor);
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: var(--white);
    background-color: var(--navcolor);
  }

  .toggleHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    position: relative;
  }

  #toggle {
    cursor: pointer;
    color: var(--theme);
    position: absolute;
  }

  /* Search Bar CSS */
  .SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1.5em 0;
    z-index: 1;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(57, 62, 70, 0.8);
  }

  .SearchBar input {
    width: 60%;
    padding: 0.5em 2em;
    border: none;
    border-radius: 50px;
    background-color: var(--white);
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--font);
    text-align: center;
    outline: none;
    transition: 0.3s ease-in-out;
  }

  /* Dashboad Images CSS */
  .DashImages {
    padding: 1em;
    column-width: calc(100px + 10vw);
  }

  .SearchImages {
    padding: 1em;
    column-width: calc(100px + 10vw);
  }

  .Image {
    padding-top: 0.5em;
    cursor: pointer;
  }

  .Image img {
    width: 100%;
    border-radius: 0.5em;
  }
}
